In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [11]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.0
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.15
Branch HEAD
Compiled by user ubuntu on 2023-09-09T01:53:20Z
Revision ce5ddad990373636e94071e7cef2f31021add07b
Url https://github.com/apache/spark
Type --help for more information.

In [3]:
# Create a SparkSession
spark = SparkSession.builder \
    .appName("PySpark Data Analysis") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

24/02/18 14:44:16 WARN Utils: Your hostname, Pratiks-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.0.0.43 instead (on interface en0)
24/02/18 14:44:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/18 14:44:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Load your dataset (replace 'your_dataset.csv' with your actual dataset file)
data = spark.read.csv('sample_data_test.csv', header=True, inferSchema=True)

In [5]:
# Display the schema of the dataset
data.printSchema()

# Show the first few rows of the dataset
data.show(5)

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: date (nullable = true)
 |-- Website: string (nullable = true)

+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|            City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|4962fdbE6Bfee6D|       Pam|   Sparks|        Patel-Deleon|      Blakemouth|British Indian Oc...|    267-243-9490x035|    480-078-0535x889|nicolas00@faulkne...|       2020-11-29| https://nelson.com/|
|    2|9b12Ae76fdBc9bE|      Gina|    Rocha|Acosta, Paul and ...|East Lynnchester|          Costa Rica|        027.142.0940|+1-752-593-4777x0...|  yfarley@morgan.com|       2021-01-03|https://pineda-ro...|
|    3|39edFd2F60C85BC|   Kristie|    Greer|           Ochoa PLC|     West Pamela|             Ecuador|+1-049-168-7497x5053|     +1-311-216-7855|jennyhayden@petty...|       2021-06-20|https://mckinney....|
|    4|Fa42AE6a9aD39cE|    Arthur|   Fields|          Moyer-Wang|    East Belinda|         Afghanistan|001-653-754-7486x...|    521-630-3858x953|igrimes@ruiz-todd...|       2020-02-13|https://dominguez...|
|    5|F5702Edae925F1D|  Michelle|  Blevins|       Shah and Sons|      West Jared|    Marshall Islands|          8735278329|   (633)283-6034x500|diamondcarter@jor...|       2020-10-20|http://murillo-ry...|
+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 5 rows

In [6]:
# Count the number of rows in the dataset
print("Total number of rows:", data.count())

Total number of rows: 2000000

In [7]:
cleaned_data = data.dropna()

# Count the number of rows after cleaning
print("Total number of rows after cleaning:", cleaned_data.count())

Total number of rows after cleaning: 2000000

In [8]:
# Wide transformation example
wide_df = data.groupBy("Country").count()
print("Wide Transformation Result:")
wide_df.show()

Wide Transformation Result:

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|                Chad| 8134|
|            Anguilla| 8128|
|            Paraguay| 8130|
|               Macao| 8247|
|Heard Island and ...| 8082|
|               Yemen| 8058|
|             Senegal| 8181|
|             Tokelau| 8196|
|              Sweden| 8110|
|            Kiribati| 8210|
|French Southern T...| 8091|
|              Guyana| 8068|
|         Philippines| 8227|
|             Eritrea| 7974|
|              Jersey| 8011|
|            Djibouti| 8286|
|               Tonga| 8160|
|      Norfolk Island| 8113|
|            Malaysia| 8166|
|           Singapore| 8143|
+--------------------+-----+
only showing top 20 rows

In [9]:
# Narrow transformation example
narrow_df = data.filter(data["Country"] == "Costa Rica").select("First Name", "Last Name")
# Show results
print("Narrow Transformation Result:")
narrow_df.show()

Narrow Transformation Result:
+----------+---------+
|First Name|Last Name|
+----------+---------+
|      Gina|    Rocha|
|  Margaret|   Rogers|
|     Tanya| Franklin|
|     Steve|Valentine|
|     Tracy|   Briggs|
|  Benjamin|     Gray|
|    Colton| Mcintyre|
|      Gail|      Ray|
|    Brandi|Contreras|
|      Troy|  Sellers|
|     Robin|    Black|
|     Nancy|    Brown|
|    Ernest| Mcmillan|
|   Jasmine|   Norman|
|     Sonya|   Turner|
|     Jorge|    Mejia|
|     Chris|   Walter|
|     Penny|  Carlson|
|       Jay|   Booker|
|     David|  Lindsey|
+----------+---------+
only showing top 20 rows

### Repartition and Coalesce

In [12]:
# Get the number of partitions
num_partitions = data.rdd.getNumPartitions()
print("Number of partitions:", num_partitions)

Number of partitions: 8

In [16]:
# Assuming 'data' is your DataFrame
data = data.repartition(10)  # Repartitioning to 10 partitions

# Get the number of partitions after repartitioning
num_partitions_after_repartition = data.rdd.getNumPartitions()
print("Number of partitions after repartitioning:", num_partitions_after_repartition)

Number of partitions after repartitioning: 10

In [17]:
# Coalesce data into 5 partitions
data = data.coalesce(5)
# Get the number of partitions after repartitioning
num_partitions_after_coalesce = data.rdd.getNumPartitions()
print("Number of partitions after coalesce:", num_partitions_after_coalesce)

Number of partitions after coalesce: 5

### Persistence and Caching

In [33]:
# Cache DataFrame
# cache automatically set storage to memory only 
data.cache()

24/02/18 13:52:16 WARN CacheManager: Asked to cache already cached data.

DataFrame[Index: int, Customer Id: string, First Name: string, Last Name: string, Company: string, City: string, Country: string, Phone 1: string, Phone 2: string, Email: string, Subscription Date: date, Website: string]

In [35]:
# Example actions to trigger caching
# Count action
count = data.count()
print("Count:", count)

# Show action
data.show()

Count: 2000000
+------+---------------+----------+----------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
| Index|    Customer Id|First Name| Last Name|             Company|           City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+------+---------------+----------+----------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
| 20198|2240834Aa9c96aB|  Terrance|    Parker|Montoya, Mckenzie...| Robertsonmouth|               Haiti| +1-748-802-4792x351|001-835-071-8076x100|xellis@booth-tuck...|       2020-09-09| https://stokes.com/|
|180599|dDF06AdcCbA9Fc4|   Allison|     Berry|         Koch-Pruitt|    Hooperburgh|        Cook Islands|001-518-005-1460x297| +1-846-115-0465x242|daughertylarry@sh...|       2020-08-20|  http://berger.com/|
| 45814|74d1E2B58b31DC0|      Jeff|      Koch|      Mills-Morrison|    New Annette|      Cayman Islands|       (096)204-7724|  341-066-6816x04302|allison51@baldwin...|       2020-07-28|https://www.carro...|
| 39895|9060bA9aC2Ed0C7|     Paula|   Harrell|        Farley-Myers|   Williamville|             Romania|001-730-470-7443x...| (266)908-7187x09585|clintonbarnes@qui...|       2020-12-08|https://castro.info/|
|224685|aBE6B0Ebd7E142D|     Edwin|   Pollard|           Chase Ltd|       Johnbury|  Russian Federation|001-458-944-6629x...|    523-640-2789x368|ritamccormick@ell...|       2022-02-02|http://www.stanto...|
|218857|E3c3584bdF933Dd| Dominique|     Ochoa| Foster, Shea and Le|    Lake Miguel|            Bulgaria|001-794-644-4998x...|       (446)917-3367| eugene21@cortez.biz|       2022-04-01|https://www.andre...|
|143958|fE4E059959Ccadd|     Marco|   Bernard|           Kent-Holt|   West Timstad|Cocos (Keeling) I...|   953.134.1262x5331|  (429)105-1379x1306|dickersonvernon@m...|       2022-02-13|http://www.terry....|
| 25956|Ef88404aCAfF82a|  Jonathan| Dickerson|           Poole Inc|  Castanedastad|          San Marino|          5970656452|001-365-049-5051x547|geoffreysweeney@v...|       2022-02-15|https://montgomer...|
|234444|aeB2b29eFf6629E| Elizabeth|     Evans|     Dominguez Group|     Meyersfort|United States of ...|    489-242-8718x630|        445.528.0642| carrie89@giles.info|       2021-08-03|http://barber-cop...|
| 79019|C0A03E7Dd0171a9|      Levi|   Harrell|Flynn, Hahn and S...|       East Tim|            Ethiopia|  040-143-1049x39657| +1-847-076-2375x535|stanley98@stevens...|       2022-01-20|http://www.brady....|
|198298|bECb6aCB84AbbDB|    Adrian|     Mayer|    Williams-Shaffer|  North Maxland|           Nicaragua|          7674238033|        752.724.6504|wvaughan@carlson.com|       2020-08-23|https://simmons-k...|
|223084|83e741ea9CE1E01|     Megan|Williamson|        Johnson-Frye|   Franklinfort|British Indian Oc...|  454.824.3831x16564|+1-047-005-2977x8...|anthonywebster@sp...|       2020-02-27|http://www.griffi...|
| 54307|D9AA5aCAcF6FFF1|      Ross|  Whitaker|Pena, Cordova and...|      Walshport|Saint Vincent and...|001-534-864-9375x...|  344-846-5964x33296|  pbender@vance.info|       2020-07-16|https://www.baile...|
| 49711|DEaDdDECcB39c78|   Vanessa|  Chambers|       Spencer-Singh| Navarrochester|             Belgium|        233-510-5642|        707-472-0255|     rdowns@york.com|       2020-12-26|https://www.mccla...|
|211245|cAEC908EB0fdf2e|    Miguel|     Avery|      Melton-Frazier|       Port Dan|            Pakistan|001-452-552-6139x650|          1930315772|utapia@nielsen-ma...|       2022-01-26|http://www.barrer...|
| 92314|eC7AFCEfbe0BfE2|      Kent|      Kirk|Ritter, Mckee and...| North Adrienne|     Kyrgyz Republic|  919-719-1242x68863|   331.783.6864x9829|barnettjordan@ban...|       2021-11-11|    http://mayo.com/|
|106526|ebFCa8A835C93B3|     Isaac|     House|      Humphrey Group|      East Anne|            Honduras|        097.644.1338|001-338-797-5854x...|  jerry63@benson.com|       2021-06-01|http://reese-ponc...|
|211930|888b66473B50Eb3|      Lori|  Marshall|        Newton-Doyle|    Juarezburgh|               Nepal| (749)938-4805x94428|          9678115971|   jane11@norman.com|       2021-04-09|http://andersen.com/|
|149800|DCcF48418A2d222|     Ebony|    Santos|      Singleton-Mays|Port Carlyburgh|      Cayman Islands|+1-767-695-2840x4369|001-370-679-4075x...|  jake16@barajas.biz|       2020-08-27|  http://grimes.com/|
|   497|4cfb1E880732AAC|    Teresa|  Mitchell|         Barnett PLC|     Farleybury|               Malta|        758.379.7228|          2938376914|  wnoble@preston.com|       2020-06-15|http://www.jennin...|
+------+---------------+----------+----------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [32]:
from pyspark import StorageLevel
# storage levels MEMORY_ONLY,MEMORY_AND_DISK, MEMORY_ONLY_SER, MEMORY_AND_DISK_SER, DISK_ONLY, MEMORY_ONLY_2,MEMORY_AND_DISK_2
data.persist(StorageLevel.MEMORY_ONLY)

24/02/18 13:51:25 WARN CacheManager: Asked to cache already cached data.

DataFrame[Index: int, Customer Id: string, First Name: string, Last Name: string, Company: string, City: string, Country: string, Phone 1: string, Phone 2: string, Email: string, Subscription Date: date, Website: string]

In [36]:
# RDD Unpersist
# PySpark automatically monitors every persist() and cache() calls you make and it checks usage on each node and drops persisted data if not used or by using least-recently-used (LRU) algorithm
data.unpersist()

DataFrame[Index: int, Customer Id: string, First Name: string, Last Name: string, Company: string, City: string, Country: string, Phone 1: string, Phone 2: string, Email: string, Subscription Date: date, Website: string]

### Broadcast Variables and Accumulator Variables

In [6]:
# Create a broadcast variable
broadcast_var = spark.sparkContext.broadcast({"USA": "United States", "UK": "United Kingdom"})
# Create an accumulator variable
accum = spark.sparkContext.accumulator(0)

In [7]:
# Create an accumulator variable
accum = spark.sparkContext.accumulator(0)

# Map function to count USA records and update accumulator
# Need to increase executor and driver memory to compute large data accumulator
def count_usa(record):
    global accum
    if record["Country"] == "Romania":
        accum += 1
    return record

# Apply map function to count USA records
usa_records = data.rdd.map(count_usa)

# Perform an action to trigger the map transformation
usa_records.collect()

# Get the value of the accumulator
print("Number of Romania records:", accum.value)

Number of Romania records: 8137

In [9]:
# Create a broadcast variable
broadcast_var = spark.sparkContext.broadcast({"USA": "United States", "UK": "United Kingdom"})

# Use broadcast variable to convert country names
def convert_country_name(record):
    global broadcast_var
    country = record["Country"]
    if country in broadcast_var.value:
        record["Country"] = broadcast_var.value[country]
    return record

# Apply map function to convert country names
converted_df = data.rdd.map(convert_country_name).toDF()

# Show the DataFrame with converted country names
converted_df.show(5)

+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|            City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|4962fdbE6Bfee6D|       Pam|   Sparks|        Patel-Deleon|      Blakemouth|British Indian Oc...|    267-243-9490x035|    480-078-0535x889|nicolas00@faulkne...|       2020-11-29| https://nelson.com/|
|    2|9b12Ae76fdBc9bE|      Gina|    Rocha|Acosta, Paul and ...|East Lynnchester|          Costa Rica|        027.142.0940|+1-752-593-4777x0...|  yfarley@morgan.com|       2021-01-03|https://pineda-ro...|
|    3|39edFd2F60C85BC|   Kristie|    Greer|           Ochoa PLC|     West Pamela|             Ecuador|+1-049-168-7497x5053|     +1-311-216-7855|jennyhayden@petty...|       2021-06-20|https://mckinney....|
|    4|Fa42AE6a9aD39cE|    Arthur|   Fields|          Moyer-Wang|    East Belinda|         Afghanistan|001-653-754-7486x...|    521-630-3858x953|igrimes@ruiz-todd...|       2020-02-13|https://dominguez...|
|    5|F5702Edae925F1D|  Michelle|  Blevins|       Shah and Sons|      West Jared|    Marshall Islands|          8735278329|   (633)283-6034x500|diamondcarter@jor...|       2020-10-20|http://murillo-ry...|
+-----+---------------+----------+---------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 5 rows